@* @model IEnumerable<Lesson2_MWC.Entities.Employee>


<!DOCTYPE html/>
<html ">
    <head><title></title></head>
    <body>
        @foreach(var item in Model)
        {
            <h1>Firstname: @item.Firstname</h1>
            <h1>Firstname: @item.Lastname</h1>
            <div>
                <span>User Id: @item.Id </span>
            </div>
        }
    </body>
</html> *@



@model Lesson2_MWC.Models.EmploeeViewModel


<!DOCTYPE html/>
<html ">
    <head><title></title></head>
    <body>
        @foreach(var item in Model.Employees)
        {
            <h1>Firstname: @item.Firstname</h1>
            <h1>Firstname: @item.Lastname</h1>
            <div>
                <span>User Id: @item.Id </span>
            </div>
        }
       @foreach(var city in Model.Cities )
        {
            <h2>@city</h2>
        }
    </body>
</html>